body {
    background-color:#C7A083;
}
.container {
    height: 200px;
    width: 100px;
}

header{
     color: #fff;
    display: flex;
    justify-content: space-between;
}

img {
    height: 90px;
    width: 87;
    margin-top: 50px;
    margin-left: 50px;
}
ul{
    height: 100px;
    width: 450px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    margin-left: 400px;
}

ul li{
    list-style: none;
    font-size: 25px;
    color: #fff;
}
.contents {
    margin-left: 80px;
    height: 200px;
    width: 500px;
}

.contents h1 {
    font-size: 55px;
}
.contents p {
    font-size: 30px;
}
button {
    margin-left: 10px;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    color:#FEFEFE;
    background-color: #6B4A34;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3); 
}

main{
    height: 300px;
    display: flex;
    align-items: space-around;
}

main img {
    width:  550px;
    height: 352px;
    margin-top: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}